nav {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
[data-nav-blur-gradient=false] nav {
  background-color: var(--color-background-secondary-translucent);
  -webkit-backdrop-filter: var(--filter-blur);
          backdrop-filter: var(--filter-blur);
}
nav .inner {
  max-width: 980px;
  margin: auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}
nav .inner a {
  text-decoration: none;
  color: var(--color-text-secondary);
}
nav .inner .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text-primary);
}
nav .inner .nav-arrow {
  display: none;
}
nav .inner .nav-items {
  display: flex;
}
nav .inner .nav-items .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0 16px;
  transition: color 0.35s;
}
nav .inner .nav-items .nav-item:hover, nav .inner .nav-items .nav-item:focus-visible {
  color: var(--color-text-secondary-hover);
}
@media (max-width: 600px) {
  nav .inner .nav-items .nav-item {
    padding: 0 4px;
  }
}
nav .inner .nav-items .nav-item.is-icon {
  font-size: 24px;
  padding: 0 4px;
}
nav .inner .nav-items .nav-item-home {
  display: none;
}
@media (max-width: 600px) {
  nav {
    height: 48px;
    overflow: hidden;
  }
  nav .inner {
    display: block;
  }
  nav .inner .title {
    pointer-events: none;
    justify-content: flex-start;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transition-delay: 0.35s;
  }
  nav .inner .nav-arrow {
    display: block;
  }
  nav .inner .nav-arrow::before, nav .inner .nav-arrow::after {
    content: "";
    background-color: var(--color-text-secondary);
    display: block;
    position: absolute;
    top: 28px;
    width: 12px;
    height: 1px;
    transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 0.6s cubic-bezier(0.86, 0, 0.07, 1), top 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  }
  nav .inner .nav-arrow::before {
    transform-origin: 100% 100%;
    transform: rotate(40deg) scaleY(1.5);
    right: 50%;
  }
  nav .inner .nav-arrow::after {
    transform-origin: 0% 100%;
    transform: rotate(-40deg) scaleY(1.5);
    left: 50%;
  }
  nav .inner .nav-items {
    width: 100%;
    flex-wrap: wrap;
  }
  nav .inner .nav-items .nav-item:not(.is-icon) {
    justify-content: flex-start;
    width: 100%;
  }
  nav .inner .nav-items .nav-item {
    height: 48px;
    pointer-events: none;
    text-align: left;
    transform: translate(0, -10%);
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s, color 0.5s;
  }
  nav .inner .nav-items .nav-item.is-icon {
    display: inline-flex;
  }
  nav .inner .nav-items .nav-item-home {
    display: flex;
  }
  .nav-open nav {
    height: var(--open-height);
  }
  .nav-open nav .title {
    transform: translate(0, 8px);
    opacity: 0;
    transition-delay: 0s;
  }
  .nav-open nav .nav-arrow::before, .nav-open nav .nav-arrow::after {
    top: 16px;
  }
  .nav-open nav .nav-arrow::before {
    transform-origin: 100% 0%;
    transform: rotate(-40deg) scaleY(1.5);
  }
  .nav-open nav .nav-arrow::after {
    transform-origin: 0% 0%;
    transform: rotate(40deg) scaleY(1.5);
  }
  .nav-open nav .nav-items .nav-item {
    pointer-events: initial;
    transform: translate(0, 0%);
    opacity: 1;
    transition: transform 0.4s calc(var(--index) * 0.05s + 0.1s), opacity 0.4s calc(var(--index) * 0.05s + 0.1s), color 0.5s;
  }
}

.nav-mask > [order] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-background-primary-translucent);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-mask-image: linear-gradient(to bottom, #000, transparent);
          mask-image: linear-gradient(to bottom, #000, transparent);
  -webkit-mask-composite: destination-in;
          mask-composite: destination-in;
  pointer-events: none;
  z-index: 1000;
  transition: height 0.6s cubic-bezier(0.86, 0, 0.07, 1), -webkit-backdrop-filter 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: height 0.6s cubic-bezier(0.86, 0, 0.07, 1), backdrop-filter 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  transition: height 0.6s cubic-bezier(0.86, 0, 0.07, 1), backdrop-filter 0.6s cubic-bezier(0.86, 0, 0.07, 1), -webkit-backdrop-filter 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.nav-open .nav-mask > [order] {
  -webkit-backdrop-filter: blur(36px);
          backdrop-filter: blur(36px);
}
.nav-mask > [order] {
  --height: 100px;
}
.nav-mask > [order][order="1"] {
  height: calc(var(--height) / 1);
}
@media (max-width: 600px) {
  .nav-open .nav-mask > [order][order="1"] {
    height: calc(var(--open-height) * 4 / 1);
  }
}
.nav-mask > [order][order="2"] {
  height: calc(var(--height) / 1.2);
}
@media (max-width: 600px) {
  .nav-open .nav-mask > [order][order="2"] {
    height: calc(var(--open-height) * 4 / 1.2);
  }
}
.nav-mask > [order][order="3"] {
  height: calc(var(--height) / 1.44);
}
@media (max-width: 600px) {
  .nav-open .nav-mask > [order][order="3"] {
    height: calc(var(--open-height) * 4 / 1.44);
  }
}
.nav-mask > [order][order="4"] {
  height: calc(var(--height) / 1.728);
}
@media (max-width: 600px) {
  .nav-open .nav-mask > [order][order="4"] {
    height: calc(var(--open-height) * 4 / 1.728);
  }
}
.nav-mask > [order][order="5"] {
  height: calc(var(--height) / 2.0736);
}
@media (max-width: 600px) {
  .nav-open .nav-mask > [order][order="5"] {
    height: calc(var(--open-height) * 4 / 2.0736);
  }
}
.nav-mask > [order][order="6"] {
  height: calc(var(--height) / 2.48832);
}
@media (max-width: 600px) {
  .nav-open .nav-mask > [order][order="6"] {
    height: calc(var(--open-height) * 4 / 2.48832);
  }
}