.post-list {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 16px;
  max-width: 980px;
  margin: auto;
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  .post-list {
    grid-template-columns: 1fr;
    max-width: 366px;
  }
}

.post-list-item {
  overflow: hidden;
  border-radius: var(--radius-large);
  background-color: var(--color-background-secondary);
}
.post-list-item .cover-img {
  overflow: hidden;
  height: 266px;
}
.post-list-item .cover-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.25, 1), filter 400ms cubic-bezier(0.4, 0, 0.25, 1);
}
.post-list-item:hover .cover-img img, .post-list-item > a:focus-visible .cover-img img {
  transform: scale(1.03);
  filter: brightness(0.85);
}
.post-list-item .title {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 700;
  max-height: 7em;
  overflow: hidden;
}
.post-list-item .content {
  padding: 32px;
}
.post-list-item a {
  font-weight: bold;
  font-size: 24px;
  color: var(--color-text-primary);
  text-decoration: none;
}
.post-list-item .categories {
  color: var(--color-text-accent);
  margin-bottom: 6px;
  font-weight: 600;
}
.post-list-item .categories span {
  font-size: 11px;
  margin-right: 6px;
  text-decoration: none;
}
.post-list-item .excerpt {
  margin-top: 12px;
  font-weight: normal;
  font-size: 15px;
  color: var(--color-text-tertiary);
}
.post-list-item .excerpt > * {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 800px) {
  .post-list-item .content {
    font-size: 12px;
  }
}
.post-list-item .time {
  font-size: 14px;
  line-height: 1.28577;
  font-weight: 600;
  display: block;
  margin-top: 12px;
  color: var(--color-text-secondary);
}