:root {
  --filter-blur: blur(32px);
  --radius-tiny: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-full: 999px;
  --font-sans-serif: Inter, sans-serif, system-ui;
  --font-sans-serif-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    --font-sans-serif: InterVariable, sans-serif, system-ui;
  }
}

body[data-color-scheme=auto],
body[data-color-scheme=light] {
  --color-background-underlying: #ffffff;
  --color-background-primary: #fbfbfd;
  --color-background-primary-hover: #ffffff;
  --color-background-primary-active: #fdfdfd;
  --color-background-primary-translucent: #fbfbfd33;
  --color-background-secondary: #ffffff;
  --color-background-secondary-hover: #f7f7f7;
  --color-background-secondary-translucent: #ffffffcc;
  --color-background-accent: #0071e3;
  --color-background-accent-contrast: #ffffff;
  --color-background-accent-hover: #0077ed;
  --color-background-accent-active: #006edb;
  --color-text-primary: #333333;
  --color-text-primary-hover: #000000;
  --color-text-primary-active: #666666;
  --color-text-secondary: #666666;
  --color-text-secondary-hover: #333333;
  --color-text-tertiary: #808080;
  --color-text-accent: #0066cc;
  --color-border-primary: #88888822;
  --color-border-secondary: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
  body[data-color-scheme=auto] {
    --color-background-underlying: #000000;
    --color-background-primary: #101010;
    --color-background-primary-hover: #181818;
    --color-background-primary-active: #141414;
    --color-background-primary-translucent: #10101033;
    --color-background-secondary: #181818;
    --color-background-secondary-hover: #202020;
    --color-background-secondary-translucent: #00000080;
    --color-background-accent: #0071e3;
    --color-background-accent-contrast: #ffffff;
    --color-background-accent-hover: #0077ed;
    --color-background-accent-active: #006edb;
    --color-text-primary: #dddddd;
    --color-text-primary-hover: #ffffff;
    --color-text-primary-active: #999999;
    --color-text-secondary: #999999;
    --color-text-secondary-hover: #cccccc;
    --color-text-tertiary: #808080;
    --color-text-accent: #69b9ff;
    --color-border-primary: #88888844;
    --color-border-secondary: #1a1a1a;
  }
}
body[data-color-scheme=dark] {
  --color-background-underlying: #000000;
  --color-background-primary: #101010;
  --color-background-primary-hover: #181818;
  --color-background-primary-active: #141414;
  --color-background-primary-translucent: #10101033;
  --color-background-secondary: #181818;
  --color-background-secondary-hover: #202020;
  --color-background-secondary-translucent: #00000080;
  --color-background-accent: #0071e3;
  --color-background-accent-contrast: #ffffff;
  --color-background-accent-hover: #0077ed;
  --color-background-accent-active: #006edb;
  --color-text-primary: #dddddd;
  --color-text-primary-hover: #ffffff;
  --color-text-primary-active: #999999;
  --color-text-secondary: #999999;
  --color-text-secondary-hover: #cccccc;
  --color-text-tertiary: #808080;
  --color-text-accent: #69b9ff;
  --color-border-primary: #88888844;
  --color-border-secondary: #1a1a1a;
}

.block-large {
  max-width: 1000px;
  margin: auto;
}

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

@supports (corner-shape: squircle) {
  [data-corner-squircle=true] .corner-squircle {
    corner-shape: squircle;
    --radius-tiny: 10px;
    --radius-small: 20px;
    --radius-medium: 30px;
    --radius-large: 40px;
    --radius-full: 999px;
  }
  [data-corner-squircle=true] .corner-squircle * {
    --radius-tiny: 4px;
    --radius-small: 8px;
    --radius-medium: 12px;
    --radius-large: 16px;
    --radius-full: 999px;
  }
}

@supports (corner-shape: initial) {
  [data-corner-squircle=true] .no-corner-squircle {
    corner-shape: initial;
    --radius-tiny: 4px;
    --radius-small: 8px;
    --radius-medium: 12px;
    --radius-large: 16px;
    --radius-full: 999px;
  }
}

.post-list {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 16px;
  max-width: 980px;
  margin: auto;
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  .post-list {
    grid-template-columns: 1fr;
    max-width: 366px;
  }
}

.post-list-item {
  overflow: hidden;
  border-radius: var(--radius-large);
}
@supports (corner-shape: squircle) {
  [data-corner-squircle=true] .post-list-item {
    corner-shape: squircle;
    --radius-tiny: 10px;
    --radius-small: 20px;
    --radius-medium: 30px;
    --radius-large: 40px;
    --radius-full: 999px;
  }
  [data-corner-squircle=true] .post-list-item * {
    --radius-tiny: 4px;
    --radius-small: 8px;
    --radius-medium: 12px;
    --radius-large: 16px;
    --radius-full: 999px;
  }
}
.post-list-item {
  background-color: var(--color-background-secondary);
}
.post-list-item .cover-img {
  overflow: hidden;
  height: 266px;
}
.post-list-item .cover-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.25, 1), filter 400ms cubic-bezier(0.4, 0, 0.25, 1);
}
.post-list-item:hover .cover-img img, .post-list-item > a:focus-visible .cover-img img {
  transform: scale(1.03);
  filter: brightness(0.85);
}
.post-list-item .title {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 700;
  max-height: 7em;
  overflow: hidden;
}
.post-list-item .content {
  padding: 32px;
}
.post-list-item a {
  font-weight: bold;
  font-size: 24px;
  color: var(--color-text-primary);
  text-decoration: none;
}
.post-list-item .categories {
  color: var(--color-text-accent);
  margin-bottom: 6px;
  font-weight: 600;
}
.post-list-item .categories span {
  display: block;
  font-size: 11px;
  margin-right: 6px;
  text-decoration: none;
}
.post-list-item .excerpt {
  margin-top: 12px;
  font-weight: normal;
  font-size: 15px;
  color: var(--color-text-tertiary);
}
.post-list-item .excerpt > * {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 800px) {
  .post-list-item .content {
    font-size: 12px;
  }
}
.post-list-item .time {
  font-size: 14px;
  line-height: 1.28577;
  font-weight: 600;
  display: block;
  margin-top: 12px;
  color: var(--color-text-secondary);
}