---
title: Follow Verification
date: 2024-10-31 18:22:22
---

This message is used to verify that this feed (feedId:73702314060695552) belongs to me (userId:42231644098965504). Join me in enjoying the next generation information browser https://follow.is.
