/* This Code Highlighting Theme is based on GitHub Theme */
.gutter {
  color: var(--color-text-tertiary);
  user-select: none;
}

body[data-color-scheme=auto] .highlight .name,
body[data-color-scheme=light] .highlight .name {
  color: #22863a;
}
body[data-color-scheme=auto] .highlight .attr,
body[data-color-scheme=auto] .highlight .meta,
body[data-color-scheme=auto] .highlight .meta-keyword,
body[data-color-scheme=auto] .highlight .attribute,
body[data-color-scheme=auto] .highlight .number,
body[data-color-scheme=auto] .highlight .selector-class,
body[data-color-scheme=light] .highlight .attr,
body[data-color-scheme=light] .highlight .meta,
body[data-color-scheme=light] .highlight .meta-keyword,
body[data-color-scheme=light] .highlight .attribute,
body[data-color-scheme=light] .highlight .number,
body[data-color-scheme=light] .highlight .selector-class {
  color: #005cc5;
}
body[data-color-scheme=auto] .highlight .string,
body[data-color-scheme=light] .highlight .string {
  color: #032f62;
}
body[data-color-scheme=auto] .highlight .symbol,
body[data-color-scheme=light] .highlight .symbol {
  color: #005cc5;
}
body[data-color-scheme=auto] .highlight .selector-tag,
body[data-color-scheme=light] .highlight .selector-tag {
  color: #22863a;
}
body[data-color-scheme=auto] .highlight .built_in,
body[data-color-scheme=light] .highlight .built_in {
  color: #6f42c1;
}
body[data-color-scheme=auto] .highlight .keyword,
body[data-color-scheme=light] .highlight .keyword {
  color: #d73a49;
}

@media (prefers-color-scheme: dark) {
  body[data-color-scheme=auto] .highlight .name {
    color: #7ee787;
  }
  body[data-color-scheme=auto] .highlight .attr,
  body[data-color-scheme=auto] .highlight .meta,
  body[data-color-scheme=auto] .highlight .meta-keyword,
  body[data-color-scheme=auto] .highlight .attribute,
  body[data-color-scheme=auto] .highlight .number,
  body[data-color-scheme=auto] .highlight .selector-class {
    color: #79c0ff;
  }
  body[data-color-scheme=auto] .highlight .string {
    color: #a5d6ff;
  }
  body[data-color-scheme=auto] .highlight .symbol {
    color: #79b8ff;
  }
  body[data-color-scheme=auto] .highlight .selector-tag {
    color: #7ee787;
  }
  body[data-color-scheme=auto] .highlight .built_in {
    color: #d2a8ff;
  }
  body[data-color-scheme=auto] .highlight .keyword {
    color: #ff7b72;
  }
}
body[data-color-scheme=dark] .highlight .name {
  color: #7ee787;
}
body[data-color-scheme=dark] .highlight .attr,
body[data-color-scheme=dark] .highlight .meta,
body[data-color-scheme=dark] .highlight .meta-keyword,
body[data-color-scheme=dark] .highlight .attribute,
body[data-color-scheme=dark] .highlight .number,
body[data-color-scheme=dark] .highlight .selector-class {
  color: #79c0ff;
}
body[data-color-scheme=dark] .highlight .string {
  color: #a5d6ff;
}
body[data-color-scheme=dark] .highlight .symbol {
  color: #79b8ff;
}
body[data-color-scheme=dark] .highlight .selector-tag {
  color: #7ee787;
}
body[data-color-scheme=dark] .highlight .built_in {
  color: #d2a8ff;
}
body[data-color-scheme=dark] .highlight .keyword {
  color: #ff7b72;
}