nav {
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--border-color);
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-backdrop-filter: var(--blur);
  backdrop-filter: var(--blur);
  transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
nav .inner {
  max-width: 980px;
  margin: auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}
nav .inner a,
nav .inner a:hover,
nav .inner a:focus,
nav .inner a:active,
nav .inner a:link,
nav .inner a:visited {
  text-decoration: none;
  color: var(--black-4);
}
nav .inner .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--black-2) !important;
}
nav .inner .nav-arrow {
  display: none;
}
nav .inner .nav-items {
  display: flex;
}
nav .inner .nav-items .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0 16px;
  transition: color 0.35s;
}
nav .inner .nav-items .nav-item:hover, nav .inner .nav-items .nav-item:focus {
  color: var(--black-2);
}
@media (max-width: 600px) {
  nav .inner .nav-items .nav-item {
    padding: 0 4px;
  }
}
nav .inner .nav-items .nav-item.is-icon {
  font-size: 24px;
  padding: 0 4px;
}
nav .inner .nav-items .nav-item-home {
  display: none;
}
@media (max-width: 600px) {
  nav {
    height: 48px;
    overflow: hidden;
  }
  nav .inner {
    display: block;
  }
  nav .inner .title {
    pointer-events: none;
    justify-content: flex-start;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transition-delay: 0.35s;
  }
  nav .inner .nav-arrow {
    display: block;
  }
  nav .inner .nav-arrow::before, nav .inner .nav-arrow::after {
    content: "";
    background-color: var(--nav-arrow);
    display: block;
    position: absolute;
    top: 28px;
    width: 12px;
    height: 1px;
    transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1), transform-origin 0.6s cubic-bezier(0.86, 0, 0.07, 1), top 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  }
  nav .inner .nav-arrow::before {
    transform-origin: 100% 100%;
    transform: rotate(40deg) scaleY(1.5);
    right: 50%;
  }
  nav .inner .nav-arrow::after {
    transform-origin: 0% 100%;
    transform: rotate(-40deg) scaleY(1.5);
    left: 50%;
  }
  nav .inner .nav-items {
    width: 100%;
    flex-wrap: wrap;
  }
  nav .inner .nav-items .nav-item {
    height: 48px;
    pointer-events: none;
    text-align: left;
    transform: translate(0, -10%);
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s, color 0.5s;
  }
  nav .inner .nav-items .nav-item:not(.is-icon) {
    justify-content: flex-start;
    width: 100%;
  }
  nav .inner .nav-items .nav-item.is-icon {
    display: inline-flex;
  }
  nav .inner .nav-items .nav-item-home {
    display: flex;
  }
  nav.open {
    height: var(--open-height);
  }
  nav.open .title {
    transform: translate(0, 8px);
    opacity: 0;
    transition-delay: 0s;
  }
  nav.open .nav-arrow::before, nav.open .nav-arrow::after {
    top: 16px;
  }
  nav.open .nav-arrow::before {
    transform-origin: 100% 0%;
    transform: rotate(-40deg) scaleY(1.5);
  }
  nav.open .nav-arrow::after {
    transform-origin: 0% 0%;
    transform: rotate(40deg) scaleY(1.5);
  }
  nav.open .nav-items .nav-item {
    pointer-events: initial;
    transform: translate(0, 0%);
    opacity: 1;
    transition: transform 0.4s calc(var(--index) * 0.05s + 0.1s), opacity 0.4s calc(var(--index) * 0.05s + 0.1s), color 0.5s;
  }
}