.paginator {
  display: block;
  text-align: center;
  padding: 16px;
  margin: 8px;
}
.paginator > a, .paginator > span {
  height: 32px;
  border-radius: var(--radius-small);
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: var(--color-text-primary);
  transition-property: background-color, color;
  transition-duration: 0.2s;
  --radius-full: 16px;
}
.paginator > a:hover, .paginator > a:focus-visible, .paginator > span:hover, .paginator > span:focus-visible {
  background-color: var(--color-background-primary-hover);
  color: var(--color-text-primary-hover);
  text-decoration: none;
}
.paginator > a:active, .paginator > span:active {
  background-color: var(--color-background-primary-active);
  color: var(--color-text-primary-active);
}
.paginator > a.prev, .paginator > span.prev {
  padding-left: 14px;
  border-top-left-radius: var(--radius-full);
  border-bottom-left-radius: var(--radius-full);
}
.paginator > a.next, .paginator > span.next {
  padding-right: 14px;
  border-top-right-radius: var(--radius-full);
  border-bottom-right-radius: var(--radius-full);
}
.paginator > a.current, .paginator > span.current {
  color: var(--color-text-secondary);
}
.paginator > a.current:hover, .paginator > span.current:hover {
  background-color: transparent;
}