.badge {
  --color: var(--color-text-accent);
  font-size: 16px;
  line-height: 1;
  background-color: color-mix(in oklab, var(--color) 20%, transparent);
  color: var(--color);
  padding: 6px 12px;
  border-radius: var(--radius-full);
  height: -moz-min-content;
  height: min-content;
  display: inline-block;
}
.badge.warning {
  --color: #fdc008;
}
.badge.secondary {
  --color: var(--color-text-secondary);
}
.badge.success {
  --color: #31b14e;
}