name: "Hexo Blog Builder"

on: [push, pull_request]

jobs:
  build:
    name: "Build Hexo Blog"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12'
      - name: Install Hexo
        run: npm install -g hexo
      - name: Install Dependencies
        run: npm install
      - name: Clean Previous Build
        run: rm -rf docs
      - name: Generate New Build
        run: hexo generate
      - name: Move docs/ to public/
        run: mv public docs
      - name: Deploy
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.KEY }}" > ~/.ssh/id_rsa.pub
          chmod 600 ~/.ssh/id_rsa.pub
          ssh-keyscan github.com >> ~/.ssh/known_hosts 
          git config --global user.name "Hexo Deploy Bot"
          git config --global user.email "deploy-bot@louis.studio"
          git config --global core.quotepath false
          git add --all
          git commit -m "Push to the repo"
          git push origin master
